.signin-container {
  margin: 7rem 2.5rem 2.5rem;
  text-align: center;
  vertical-align: middle;
}

#signin-google {
  text-decoration: underline;
  cursor: pointer;
  color: #800080
}

.signin-container .MuiSvgIcon-root {
  font-size: 3.5rem;
  color: #f808f8;
  margin: 18px;
}

.signin-container p a {
  font-weight: 500;
  color: #1976d2;
}

.signin-container p {
  font-weight: 500;
  margin-bottom: 10px;
}

.signin-container .welcome-or {
  margin-bottom: 8px;
}

input {
  width: 100%;
  height: 3.5rem;
  margin: 1rem auto;
  padding: .7rem;
  border: .5px solid black;
}

.signin-container button {
  display: table-cell;
  vertical-align: middle;
  background-color:#1976d2;
  text-decoration: none;
  color: #f0f8ff;
  width: 100%;
  height: 2.2rem;
  margin: 1rem auto;
  border: 1px solid #1976d2;
  border-radius: 4px;
}

button #text {
  margin: auto;
}

.signin-container button:hover {
  background-color: rgb(33, 69, 136);
}
