.password-reset-container {
  margin: 5rem auto;
  padding: 2rem;
  max-width: 35rem;
  min-width: 20rem;
  text-align: center;
  vertical-align: middle;
}

.password-reset-container .MuiSvgIcon-root {
  font-size: 3.5rem;
  color: #f808f8;
  margin: 28px;
}

.password-reset-container h1 {
  font-size: 2.4rem;
}

.password-reset-container p {
  font-weight: 500;
  color: rgb(143, 143, 143);
  margin: 30px auto 26px;
}

input {
  width: 100%;
  height: 3.5rem;
  margin: 1rem auto;
  padding: .7rem;
  border: .5px solid black;
}

.password-reset-container button {
  display: table-cell;
  vertical-align: middle;
  background-color:#1976d2;
  text-decoration: none;
  color: #f0f8ff;
  width: 100%;
  height: 2.2rem;
  margin: 1rem auto;
  border: 1px solid #1976d2;
  border-radius: 4px;
}
