.landing-page-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  /* grid-template-rows: ; */
}

.landing-page-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-auto-flow: dense;
  grid-gap: .5em;
  height: 100vh;
  overflow: scroll;
}

.landing-page-sign-up {

}

.landing-page-gallery-item:first-child {
  grid-row: span 1;
}

.landing-page-gallery-item:nth-of-type(2n) {
  grid-row: span 2;
}

.landing-page-gallery-item:nth-of-type(5n) {
  grid-row: span 2;
}

.landing-page-gallery-item {
  position: relative !important;
}

img {
  cursor: zoom-in;
  background-color: rgb(226, 239, 251);
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: 50% 50%;
} 

.landing-page-overlay {
  position: absolute; 
  bottom: 0px; 
  background: linear-gradient(0deg,rgba(0,0,0,.4) 0,transparent); 
  color: #fff; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  font-size: 14px;
  padding: 25px 10px 8px 12px;
  text-align: center;
}

.landing-page-gallery-item:hover .landing-page-overlay {
  opacity: 1;
  cursor: pointer;
}

.numbers {
  position: relative;
  bottom: -3px;
  font-size: 1.1rem;
}

#user {
  position: absolute; 
  bottom: -9px;
  float: left;
  font-style: normal;
}

#details {
  float: right;
  position: relative;
}

em {
  margin-right: 10px;
  font-style: normal;
}

em .icon {
  fill: white;
  font-size: 1.2rem;
}