.user-avatar {
  display: grid;
  grid-template-columns: 1fr 8fr;
  cursor: pointer;
  padding-right: 70px;
  height: 156px;
} 

.avatar-container > #avatar {
  margin: 1em;
  width: 100px;
  height: 100px;
}

.username-button {
  padding-top: 25px;
}

.user-details {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 2px;
  font-weight: 200;
}

.photos-joined {
  grid-column: 3 / 4;
  margin-right: 10px;
}

#user-add-icon {
  font-size: 1.5rem;
}

#photos {
  margin-right: 15px;
}

#username {
  vertical-align: middle;
  font-size: 2.5rem;
}

.btn-light {
  margin-left: 1rem;
  border: 1px solid black;
}

.btn-light:hover {
  background-color: black;
  color: azure;
}

hr {
  margin-top: 0px;
}