.user-avatar {
  display: inline-block;
  cursor: pointer;
} 

.user-avatar > #avatar {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

#username {
  vertical-align: middle;
  font-size: 2.5rem;
}

.btn-light {
  background-color: slategray;
  color: aliceblue;
}