.component-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.container .nav-link {
  color: black;
}

.settings-container {
  margin: 1em;
}

.profile-container {
  margin: 1em;
}

.form-group {
  margin: 0px;
}

.sections-container {
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
}

.avatar-section {
  grid-row: 1 / 3;
  vertical-align: middle;
  padding: 1rem;
}

.avatar-section .label-container {
  text-align: center;
  vertical-align: middle;
}

.avatar-section .image-container {
  margin: 1rem 2.5rem 1rem 2.5rem;
  text-align: center;
  vertical-align: middle;
}

.username-section, .email-section {
  grid-column: 2 / 3;
  padding: 1rem;
}

.profile-container button {
  display: table-cell;
  vertical-align: middle;
  background-color:#1976d2;
  text-decoration: none;
  color: #f0f8ff;
  width: 100%;
  height: 2.2rem;
  margin: 1rem auto;
  border: 1px solid #1976d2;
  border-radius: 4px;
}

.profile-container button:hover {
  background-color: rgb(33, 69, 136);
}

input {
  width: 100%;
  height: 3.5rem;
  margin: .6rem auto;
  padding: .7rem;
  border: .5px solid black;
}

#avatar {
  width: 150px;
  height: 150px;
}

label {
  cursor: pointer;
  color: rgb(102, 101, 101);
  margin: 0px;
  padding: 7px 0px 7px 0px;
} 

label:hover {
  text-decoration: underline;
  color: black;
}

