.component-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.container .nav-link {
  color: black;
}

.settings-container {
  margin: 1em;
}

.profile-container {
  margin: 1em;
}

#avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.MuiBadge-badge {
  /* height: 25px; */
}

.form-label {
  cursor: pointer;
  margin: 0px;
} 
