.component-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.container .nav-link {
  color: black;
}

.settings-container {
  margin: 1em;
}

.profile-container {
  margin: 1em;
}

#avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

label {
  cursor: pointer;
  margin: 0px;
  padding: 7px 0px 7px 0px;
} 

.section {
  margin-bottom: 1.5rem;
}
