 .navbar {
  background-color: black;
  -webkit-transform: translateZ(0);
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  color: silver;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a09e9e;
}

/* .nav-link:hover {
  color: #a09e9e;
} */

#signout-link {
  cursor: pointer;
}

#signout-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}

.btn-primary:first-child {
  background-color: pink;
  border-radius: 50%;
}