 .navbar {
  background-color: #2196f3;
  -webkit-transform: translateZ(0);
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

#signout-link {
  cursor: pointer;
}

#signout-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}

.btn-primary:first-child {
  background-color: pink;
  border-radius: 50%;
}