 .navbar {
  background-color: #2196f3;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  color: white;
}

#signout-link {
  cursor: pointer;
}

#signout-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}