.home-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.sidebar {
  grid-row: span 2;
  padding: 10px;
}

.form-group {
  width: 230px;
}

.sidebar .container {
  -webkit-transform: translateZ(0);
}

.main {
  overflow-y: scroll;
  min-height: 100vh;
  grid-row: span 10;
  background-color: white;
}