.home-container {
  margin: 75px 1em 1em;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 100vh;
}

.vertical-nav {
  grid-row: span 2;
  padding: 10px;
}

.form-group {
  width: 230px;
}

.vertical-nav .container {
  position: fixed;
}

.gallery {
  grid-row: span 10;
}