.titles {
  font-weight: bold;
}

.followers {
  margin-top: 10px;
  margin-bottom: 0px;
  color: rebeccapurple;
}

.sidebar-avatars {
  display: inline-block;
  cursor: pointer;
  font-size: small;
}

.sidebar-avatars > a > #avatar {
  width: 45px;
  height: 45px;
}